@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.sidebar-item {
  min-height: 46px;
  padding: 10px;
  /* padding-right: 40px; */
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  transition: 0.1s;
}
.sidebar-item:hover {
  background-color: #e2e6eb;
}
/* p-2.5 pr-[40px] flex items-start gap-2.5  text-[#282828] cursor-pointer rounded-[50px] hover:bg-[#e2e6eb] transition duration-1 */
.greeting_span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@layer utilities {
  .text-res {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-balance {
    text-wrap: balance;
  }
}
